// @media only screen and (max-width: 768px) {}
@media (max-width: 575.98px) {
    .box2 {
        border-left: 0.2px solid black;
        border-right: 0.2px solid black;
        border-top: none !important;
        border-bottom: none !important;
    }
    .carousel-caption {
        & h1 {
            font-size: 35px !important;
        }
        & p {
            font-size: 14px !important;
            line-height: normal !important;
            padding: 0 !important;
        }
    }
    #navbarNavDropdown {
        margin-left: 0 !important;
    }
    .news {
        .news-feed {
            padding-right: 0px;
            margin-top: 80px;
        }
    }
    .news-feed {
        .news-feed-info {
            margin-top: 30px;
        }
    }
    .navbar-collapse {
        padding: 20px;
        background-color: #eee;
        margin-left: 0 !important;
        text-align: center !important;
        .nav-item {
            margin-left: 0 !important;
        }
    }
    .nav-item {
        margin-left: 0;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .top-menu__right {
        justify-content: center !important;
    }
    .simple-contact__phone,
    .simple-contact__mail {
        display: block;
        height: 20px;
    }
    .simple-contact__mail {
        margin-bottom: 20px;
    }
    .navbar-brand h1 {
        font-size: 30px !important;
    }
    .navbar-collapse {
        padding: 20px;
        background-color: #eee;
        margin-left: 0 !important;
        text-align: center !important;
        .nav-item {
            margin-left: 0 !important;
        }
    }
    .nav-item {
        margin-left: 0;
    }
    .carousel-caption {
        & h1 {
            font-size: 30px !important;
        }
        & p {
            font-size: 12px !important;
            line-height: normal !important;
            padding: 0 !important;
        }
    }
    .heading-group {
        & span::after {
            right: 40% !important;
        }
    }
    .carousel-caption {
        & h1 {
            font-size: 40px !important;
        }
        & p {
            font-size: 15px !important;
            line-height: normal !important;
            padding: 0 !important;
        }
    }
    .news {
        .news-feed {
            padding-right: 0px;
            margin-top: 80px;
        }
    }
    .news-feed {
        .news-feed-info {
            margin-top: 30px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-caption {
        & h1 {
            font-size: 45px !important;
        }
        & p {
            font-size: 15px !important;
            line-height: normal !important;
            padding: 0 !important;
        }
    }
    .news-feed {
        .news-feed-info {
            margin-top: 30px;
        }
    }
    .navbar-collapse {
        padding: 20px;
        background-color: #eee;
        margin-left: 0 !important;
        text-align: center !important;
        .nav-item {
            margin-left: 0 !important;
        }
    }
    .nav-item {
        margin-left: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}